.navBarContainer {
    font-size: 2rem;
    background: #676e758c;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    padding: 1rem 30vw;
    margin-top: 1rem;
}

@media (max-width: 640px) {
    .navBarContainer {
        font-size: 2rem;
        background: #9ea5ab4d;
        color: aliceblue;
        display: flex;
        justify-content: flex-end;
        padding: 1rem;
    }
}
